body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", sans-serif;
    
    background-color: #3CA6A6;
}

#navBar, #footer{
    background-color: #074116;
}

#links{
    width: 35%;
}

#links2{
    width: 90%;
}

.container{
    height: auto;
    min-height: 170vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-titulo{
    height: 10%;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-metricas{
    height: auto;
    min-height: 30vh;
    width: 100%;

    border-top: 1px solid #FFF;
}

.div-metricas-sensores{
    height: 100%;
    width: 100%;
 
    display: flex;
    align-items: center;
    flex-direction: row;
}

.div-metricas{
    height: auto;
    min-height: 10vh;
    width: 70%;

    margin: 1%;
    border-radius: 6px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    color: white;
}

.div-metricas span{
    height: auto;
    width: 90%;

    display: flex;
    align-items: flex-start;
}

.box-tanques{
    min-height: 20vh;
    height: auto;
    width: 90%;

    display: block;
    overflow-y: auto;
}

.inp_pesquisar{
    height: 5vh;
    width: 3vw;
    padding-left: 0.5%;

    outline: none;
    border: 2px solid black;
    border-radius: 6px;
}

.box-graficos{
    height: 150vh;
    width: 90%;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.especificacoes-grafico{
    height: 45%;

    display: flex;
    flex-direction: column;
}

.box-informacoes{
    height: 25%;

    display: flex;
    flex-direction: column;
}

.tanque, .horta{
    height: 40%;
    width: 100%;

    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.tanque h4, .horta h4{
    margin: 0px;
    margin-left: 2%;
}

.extras-tanque, .extras-horta{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.extras-tanque span, .extras-horta span{
    margin-left: 2%;
}

.grafico-linha{
    height: 75%;
    padding: 2%;

    border-radius: 8px;
    background-color: white;
}
