body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates", sans-serif;

    background-color: #3CA6A6;
}

#navBar,
#footer {
    background-color: #074116;
}

#links {
    justify-content: flex-end;
}

#links2 {
    width: 70%;
    margin-right: 5%;
    justify-content: center;
}

.container {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-titulo {
    height: 10%;
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-metricas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 20vh;
    width: 100%;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.div-metricas-sensores {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.div-metricas {
    height: 8vh;
    width: 70%;
    margin: 1%;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.div-metricas span {
    height: auto;
    width: 90%;

    display: flex;
    align-items: flex-start;
}

.box-tanques {
    height: 30%;
    width: 90%;

    display: block;
    overflow-y: auto;
}

.inp_pesquisar {
    height: 3vh;
    width: 3vw;
    outline: none;
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
}

.box-graficos {
    margin: 20px 0;
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.especificacoes-grafico {
    height: 50vh;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.box-informacoes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

.tanque,
.horta {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.tanque h4,
.horta h4 {
    margin: 0px;
    margin-left: 2%;
}

.extras-tanque,
.extras-horta {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.extras-tanque span,
.extras-horta span {
    margin: 5px 2%;
}

.grafico-linha {
    height: 75%;
    padding: 2%;
    border-radius: 8px;
    background-color: white;
}


/* ALERTA */

#alerta {
    position: fixed;
    right: 0;
    bottom: 0;
}

.cor-alerta {
    width: 15%;
    height: 40%;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.perigo-frio {
    background-color: #5c6bc0;
}

.perigo-quente {
    background-color: #ff7043;
}

.alerta-frio {
    background-color: #42a5f5;
}

.alerta-quente {
    background-color: #ffee58;
}

.ideal {
    background-color: #9ccc65;
}

.mensagem-alarme {
    /* background-color: #FFF; */
    border-radius: 5px;
    width: 350px;
    height: 120px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mensagem-alarme h3 {
    font-size: 14px;
    margin: 0;
}

.mensagem-alarme .informacao {
    width: 66%;
}

.alarme-sino {
    width: 48px;
    height: 48px;
    animation-name: bell;
    animation-duration: 4s;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
    background-size: cover;
    animation-iteration-count: infinite;
}

@keyframes bell {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    75% {
        transform: rotate(-25deg)
    }

    100% {
        transform: rotate(25deg)
    }
}