body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat Alternates", sans-serif;
}

article{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../assets/horta-piscina.png');
}

#navBar, #footer{
    background-color: #074116;
}

#container-links{
    justify-content: flex-end;
}

#links2{
    width: 70%;
    margin-right: 5%;
    justify-content: center;
}

.container-formulario{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.9)
}

.box-form{
    /* height: 80%; */
    width: 80%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.box-form input{
    height: 40px;
    width: 80%;
    padding-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
}

.btn-criarconta{
    height: 50px;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    background-color: #026773;
}

.btn-criarconta:hover{
    transition: .2s;
    background-color: #FFF;
    color: #000;
    border: 1px solid #026773;
}

.btn-criarconta:active{
    transform: scale(1.02);
}
